---
import { Picture } from '@astrojs/image/components';
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import bgImg from '../assets/images/Headerbild_Webdesign.png';

const { blok } = Astro.props;
const renderedDescription = renderRichText(blok.description);
---

<div {...storyblokEditable(blok)}>
  <section class="pb-72 pt-56 relative">
    <div class="container relative z-10">
      <h1 class="text-5xl text-primary mb-2 font-clanMedium">{blok.title}</h1>
      <h2 class="text-2xl text-primary mb-10">{blok.subtitle}</h2>
      <div class="text-primary mb-10 max-w-lg" set:html={renderedDescription} />
      <a href={blok.actionButtonUrl.url} class="btn-primary" target={blok.actionButtonUrl.target}>{blok.actionButtonText}</a>
    </div>
    <div class="absolute inset-0 z-0 pl-[20vw]">
      {
        blok.backgroundImage?.filename && (
          <Picture
            src={blok.backgroundImage?.filename}
            widths={[680, 900, 1200, 1400, 1800, 2400]}
            quality={90}
            sizes="100vw"
            alt={blok.backgroundImage?.alt}
            title={blok.backgroundImage?.title}
            class="object-left object-cover h-full w-full"
            aspectRatio={3 / 2}
            position="left"
            fit="cover"
            background="#ffffff"
          />
        )
      }
    </div>
  </section>
</div>
