---
import { Picture } from '@astrojs/image/components';
import { storyblokEditable, renderRichText } from '@storyblok/astro';
import bgImg from '../assets/images/Headerbild_Webdesign.png';

const { blok } = Astro.props;
const renderedDescription = renderRichText(blok.description);

console.log(blok);

const photoFormats = ['jpg', 'jpeg', 'png', 'gif', 'svg', 'webp', 'avif', 'tiff', 'bmp', 'ico', 'heic', 'heif'];
const videoFormats = ['mp4', 'webm', 'ogg', 'mov', 'avi', 'wmv', 'flv', 'mpg', 'mpeg', 'm4v', 'mkv'];

const fileExtension = blok?.backgroundImage?.filename?.split('.')?.pop();

const isPhoto = fileExtension ? photoFormats.includes(fileExtension) : false;
const isVideo = fileExtension ? videoFormats.includes(fileExtension) : false;
---

<Fragment {...storyblokEditable(blok)}>
  <section class="pb-72 pt-56 relative">
    <div class="container relative z-10">
      <h1 class="text-4xl sm:text-5xl text-primary mb-2 font-clanMedium">{blok.title}</h1>
      {blok.subtitle && <h2 class="text-2xl text-primary mb-10">{blok.subtitle}</h2>}
      <div class="text-primary mb-10 max-w-lg" set:html={renderedDescription} />
      {
        blok.actionButtonUrl.url && blok.actionButtonText && (
          <a href={blok.actionButtonUrl.url} class="btn-primary" target={blok.actionButtonUrl.target}>
            {blok.actionButtonText}
          </a>
        )
      }
    </div>
    {
      blok.backgroundImage?.filename && (
        <div class="absolute inset-0 z-0">
          {isPhoto && (
            <Picture
              src={blok.backgroundImage?.filename}
              widths={[680, 900, 1200, 1400, 1800, 2400]}
              quality={90}
              sizes="100vw"
              alt={blok.backgroundImage?.alt}
              title={blok.backgroundImage?.title}
              class="object-left object-cover h-full w-full"
              aspectRatio={16 / 9}
              position={blok.backgroundImagePosition || 'left'}
              fit="cover"
              background="#ffffff"
            />
          )}
          {isVideo && (
            <video class="object-left object-cover h-full w-full" autoplay loop muted playsinline>
              <source src={blok.backgroundImage?.filename} type={`video/${fileExtension}`} />
            </video>
          )}
        </div>
      )
    }
  </section>
</Fragment>
