---
import { storyblokEditable } from '@storyblok/astro';
import Tile from '../components/Tile.astro';

const { blok } = Astro.props;
---

<Fragment {...storyblokEditable(blok)}>
  <section id="portfolio">
    <h2 class="text-5xl text-primary mb-2 font-clanMedium text-center">{blok.title}</h2>
    <p class="text-xl text-primary mb-16 text-center">{blok.subtitle}</p>
    <div class="grid grid-cols-4">
      <Tile imgUrl={blok.webdesignImg.filename} title="Webdesign" url="/portfolio/webdesign/" />
      <Tile imgUrl={blok.printImg.filename} title="Print" url="/portfolio/print/" />
      <Tile imgUrl={blok.illustrationImg.filename} title="Illustration" url="/portfolio/illustration/" />
      <Tile imgUrl={blok.socialMediaImg.filename} title="Social Media" url="/portfolio/social-media/" />
      <Tile imgUrl={blok.fotografieImg.filename} title="Fotografie" url="/portfolio/fotografie/" />
      <Tile imgUrl={blok.videoImg.filename} title="Video" url="/portfolio/video/" />
      <Tile imgUrl={blok.spezialImg.filename} title="Spezial" url="/portfolio/spezial/" />
      <Tile imgUrl={blok.konzeptionImg.filename} title="Konzeption" url="/portfolio/konzeption/" />
    </div>
  </section>
</Fragment>
