---
import Footer from '../components/Footer.astro';
import Navbar from '../components/Navbar.astro';
import '../styles/global.css';
import { SEOMetadata } from 'astro-seo-metadata';

interface Props {
  siteName?: string;
  title?: string;
  description?: string;
  image?: string;
  author?: string;
  copyright?: string;
}

const {
  siteName = 'DSGN.',
  title = 'DSGN. - media and design',
  description = 'Freiberufliche Mediendesignerin',
  image = '/banner.png',
  author = 'Sarah Weihrauch',
  copyright = 'Sarah Weihrauch',
} = Astro.props;
---

<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="theme-color" content="#FA6E68" />
    <SEOMetadata
      siteName={siteName}
      title={title}
      description={description}
      image={image || undefined}
      author={author}
      copyright={copyright}
      astroSitemap={true}
      canonicalUrl={Astro.url.toString()}
      type={'website'}
      astroGenerator={true}
      favicon="/favicon.svg"
    />
  </head>
  <body class="text-default font-clanBook min-h-screen flex flex-col">
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
